@media (min-width:500px) {
    .half{
        display: flex;
        flex-direction: row;
    }
}
@media (max-width:500px) {
    .half{
        display: flex;
        flex-direction: column;
    }
}
.CreationsContainer{
    padding: 20px;
    text-align: center;
    h1{
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
    }
}
.creationsImages{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-width: 1084px;
    margin-left: auto;
    margin-right: auto;
}
.imageCard{
    margin:10px;
    position: relative;
    cursor: pointer;
    &:hover{
        filter: grayscale(1);;
    }
    img{
        width: 100%;
    }

}
.cardName{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    h2{
        margin: 0px;
    }
}
.seeAllBtn{
    color: black;
    text-transform: uppercase;
    
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    border: 1px solid black;
}