.FooterContainer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    img{
        width: fit-content;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    a{
        color: white;
        text-decoration: none;
        text-transform: capitalize;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.socialMedia{
    width: max-content;
    img{
        margin-left: 10px;
        margin-right: 10px;
    }
}
p{
    color: silver;
}