@media (min-width:800px) {
    .interactiveArticle{
        width: 50%;
        position: absolute;
        bottom: 0px;
        right:0px;
        padding: 50px;
    }
    .interactiveImage{
        img{
            width: 70vw;
            max-width: 700px;
        }
    }

    .InteractiveContainer{
        position: relative;
    }
}
@media (max-width:800px) {
    .interactiveImage{
        img{
            width: 100%;
        }
    }
}   
.InteractiveContainer{
    max-width: 1084px;
    margin-left: auto;
    margin-right: auto;
padding: 20px;
margin-top: 50px;
}
.interactiveArticle{
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    h1{
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
    }
    p{
        line-height: 30px;
        color: gray;
        font-family: 'Alata', sans-serif;

    }
}