@media (min-width: 650px) {
  .menuIcon {
    display: none;
  }
  .Nav {
    display: block;
  }
  .background {
    background-image: url("../images/desktop/image-hero.jpg");
  }
}

@media (max-width: 650px) {
  .menuIcon {
    display: block;
  }
  .Nav {
    display: none;
  }
  .background {
    background-image: url("../images/mobile/image-hero.jpg");
  }
}

.IntroContainer {
  min-height: 700px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Logo {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuIcon {
  margin-left: auto;
  padding: 7px;
  cursor: pointer;
}

.introStatment {
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid white;
  padding: 30px 20px 30px 20px;
  max-width: 350px;
}

.introStatment h1 {
  margin: 0px;
  text-transform: uppercase;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400px;
}

.menu {
  background-color: black;
  top: 0px;
  left: 0px;
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.menuHeader {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.menuNav a {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

#show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hide {
  display: none;
}

@-webkit-keyframes menuAnimation {
  from {
    -webkit-transform: translateX(-500);
            transform: translateX(-500);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes menuAnimation {
  from {
    -webkit-transform: translateX(-500);
            transform: translateX(-500);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.menuIcon:active {
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
}

.Nav {
  margin-left: auto;
}

.Nav a {
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  font-family: 'Alata', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

.Nav a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=Intro.css.map */